// Define variables for your color scheme

// For example:
$webelongred: #E59584;
$webelongblue: #469AE0;
$webelongorange: #FFBE33;
$webelongpurple: #432B76;
$webelonggray: #202020;
$webelonggreen: #55FF33;
