<style>

body{
  font: sans-serif;
  color: gray;
  padding: 8px;
  margin: 48px;
}

</style>
<h1 style= 'font-size: 24px;'>Olá, <%= @user.email %>.</h1>
<h3 style= 'font-size: 16px;'>Você agora também é um(a) agente de mudança da <strong>WeBelong</strong>!</h3>

<p>
  Nós da <strong>WeBelong</strong> estamos muito felizes por você fazer parte da nossa comunidade.
</p>
<p>
  Aqui na <strong>WeBelong</strong> você poderá acessar <em>reviews</em> feitas por outros pessoas, e ver como as empresas estão tratando suas 'diferentes diversidades'.
</p>
<p>
  Também, poderá pesquisar por palavras-chave e ver quais temas estão sendo debatidos na nossa comunidade, além de fazer suas próprias avaliações sobre as empresas e suas práticas.
  Fique à vontade! Todos e todas são muito bem-vindo(a)s!
</p>

<h6> Clique <%= link_to 'aqui', root_url %> para retornar à página </h6>
