.container-detail {
  margin: 10vh auto;
  max-width: 1280px;
  // box-shadow: 0 1px 3px #202020;
}

.company {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  max-height: 200px;
  margin: 30px 10px;
  border-bottom: 5px solid $friendlyorange;
}

.company-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  margin: 0;
  padding: 1%;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100px;
    min-height: 100px;
    image-rendering: optimizequality;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px $professionalpurple;
    margin: 0 auto;
    /* padding: 1%; */
  }
}

.company h2 {
  /* text-align: left; */
  /* text-transform: uppercase; */
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  font-size: calc(1.5rem + 2vw);
  /* width: 57%; */
  z-index: 1;
  /* box-shadow: 4px 3px black; */
  padding: 1rem;
  margin: 0;
  align-self: end;
  color: $professionalpurple;
}

.rating-company-detail {
  font-size: 16px;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  text-align: left;
  /* align-self: center; */
  margin: 0;
  padding: 0 0 10px 10px;
}

.company-profile {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr auto;
  grid-gap: 0.5%;
}

.company-profile .company-blurb {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* margin: 15px; */
  padding: 15px;
  border: dotted 1px lightgrey;
  box-shadow: 2px 2px #432B76;
  max-height: 450px;
  height: 100%;
}

.company-profile .graph-container {
  grid-row: 1;
  font-family: "fira-sans-2",sans-serif;
  color: #333;
  grid-column: 2 / 4;
  /* margin: 10px 0 0 0; */
  padding: 15px;
  box-shadow: 2px 2px $professionalpurple;
  border: dotted 1px lightgrey;
  max-height: 450px;
  height: 100%;
}

.company-profile h4 {
  font-weight: 700;
  display: block;
  text-align: left;
  font-size: 1.2em;
  font-weight: 700;
  margin:0 0 20px 0;
  box-shadow: 0 2px $professionalpurple;
}

.company-profile .reviews {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  border: dotted 1px lightgrey;
  margin: 15px 0 0 0;
  padding: 15px;
  box-shadow: 2px 2px $professionalpurple;
}

.reviews .review {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px dotted $professionalpurple;
  list-style-type: none;

  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.vote {
  text-decoration: none;
}
  .vote:hover {
    text-decoration: none;
  }

.upvote {
    color: green;
  }
.downvote {
    color: red;
  }

@media (max-width: 940px) {
  .company-profile {
    display: block;
  }
  .company {
    width: auto;
  }
  .company-profile .graph-container {
  border: solid 1px lightgrey;
  margin: 15px;
 }
}
