<div class="container" style="width: 56%;">

  <div class="container forgotpassword" style="height: 80px;"></div>

  <h3 class="title-pp">Esqueceu sua senha?</h3>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Envie-me as instruções de reconfiguração da senha" %>
  </div>
  <% end %>

</div>
