
<!-- navbar -->

<nav class="navbar-wb navbar-fixed-top">

  <!-- use nav instead of div for navbar - html 5 -->
  <!-- logo -->

  <a href="/" class="navbar-wb-brand fas fa-users">
    </a>
  <!-- fim logo -->

 <!--  SEARCH BAR START -->
<div class="container" style="width: 50%; margin: 0 10px 0 10px;
">
  <div id="custom-search-input" class="hidden-xs hide">
    <div class="input-group col-md-12 col-sm-12 col-lg-12 hidden-xs">
      <%= form_tag searches_index_path, id: "form-control-text", method: :get do %>
      <span class="input-group-btn">
        <button class="btn" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
        <%= text_field_tag :query, params[:query], placeholder: "Procure aqui por empresa ou tema de seu interesse", style: "font-size: 12px;" %>
       <% end %>
    </div>
  </div>
</div>
<!--   SEARCH BAR END -->

  <!-- Align right -->
  <div class="navbar-wb-right hidden-xs hidden-sm">
    <!--       links navbar -->
    <a href="/#valueswebelong" class="navbar-wb-item navbar-wb-link">Nossos Valores</a>
    <a href="/about" class="navbar-wb-item navbar-wb-link">We Belong</a>
 <!--    fim links navbar -->

 <!-- dropdown with avatar -->
    <div class="navbar-wb-item">
      <div class="dropdown">
       <!--  <img src="https://avatars1.githubusercontent.com/u/38114468?v=4" class="avatar dropdown-toggle" id="navbar-wb-menu" data-toggle="dropdown"> -->

       <% if !user_signed_in? %>
         <i class="fas fa-user avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
       <% else %>
          <i class="fas fa-user avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
       <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wb-dropdown-menu">
          <% if user_signed_in? %>
            <li><a href="/users/edit">My Profile</a></li>
            <li><a data-method="delete" href="/users/sign_out">Log Out</a></li>
          <% else %>
            <li><a data-method="get" href="/users/sign_in">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<!-- fim dropdown with avatar -->

<!--   navbar mobile -->
  <div class="navbar-wb-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: $professionalpurple;"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wb-dropdown-menu">

        <li>
          <div id="custom-search-input-dropdown">
            <div class="input-group col-md-12">
              <%= form_tag searches_index_path, method: :get do %>
              <%= text_field_tag :query,
              params[:query], id: "custom-search-input" %>
              <% end %>
              <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </div>
        </li>
        <li><a href="#" class="navbar-wb-item navbar-wb-link">LINK 1</a></li>
        <li><a href="#" class="navbar-wb-item navbar-wb-link">LINK 2</a></li>
        <% if user_signed_in? %>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
            <li><a data-method="delete" href="/users/sign_out">Log Out</a></li>
          <% else %>
            <li><a data-method="get" href="/users/sign_in">Log In</a></li>
          <% end %>
      </ul>
    </div>
  </div>

</nav>

