<span id="article"></span>

<article class="article-1">
  <h1 class="central-title"><mark>We Belong</mark></h1>
  <div class="background_color"></div>
  <p class="about-text">Acreditamos que a <strong>diversidade</strong> é uma das chaves para o sucesso de qualquer negócio.</p>
</article>

<article class="article-2">
  <h1><mark>Diversidade</mark></h1>
  <div class="background_color"></div>
  <p class="about-text">E, para nós, a <strong>diversidade</strong> só dá resultados quando todas as pessoas estão <strong>seguras</strong> e <strong>incluídas</strong> no ambiente de trabalho, nos processos organizacionais e na mesa de decisão.</p>
</article>

<article class="article-3">
  <h1><mark>Inclusão</mark></h1>
  <div class="background_color"></div>
  <p class="about-text">O outro lado da <strong>inclusão</strong> é o <strong>pertencimento</strong>. Quem se sente pertencente, está incluído(a), quem está incluído(a), se sente pertencente.</p>
</article>

<article class="article-4">
  <h1><mark>Pertencer</mark></h1>
  <div class="background_color"></div>
  <p class="about-text"><strong>Pertencer</strong> é criar laços, é compartilhar ideias, é aprender junto... <strong>Pertencer</strong> é poder ser o que somos e somar com nossas características pessoais, ampliando a visão do nosso grupo, da nossa empresa e da sociedade.</p>
</article>
