<div class="container about">
  <h2><em>We Belong</em></h2>

    <h4>Acreditamos que a <strong>diversidade</strong> é uma das chaves para o sucesso de qualquer negócio.</h4>

    <h4>E, para nós, a <strong>diversidade</strong> só dá resultados quando todas as pessoas estão <strong>seguras</strong> e <strong>incluídas</strong> no ambiente de trabalho, nos processos organizacionais e na mesa de decisão.</h4>

    <h4>O outro lado da <strong>inclusão</strong> é o <strong>pertencimento</strong>. Quem se sente pertencente, está incluído(a), quem está incluído(a), se sente pertencente.</h4>

    <h4><strong>Pertencer</strong> é criar laços, é compartilhar ideias, é aprender junto... <strong>Pertencer</strong> é poder ser o que somos e somar com nossas características pessoais, ampliando a visão do nosso grupo, da nossa empresa e da sociedade.</h4>
</div>
