<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active" data-interval="300">
     <%= image_tag "carousel1.jpg" %>
    </div>
    <div class="item" data-interval="300">
      <%= image_tag "carousel8.jpg" %>
    </div>
    <div class="item" data-interval="300">
      <%= image_tag "carousel9.jpg" %>
    </div>
    <div class="item" data-interval="300">
      <%= image_tag "carousel0.jpg" %>
    </div>
  </div>

</div>
