<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active" data-interval="300" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(../../assets/images/carousel7.jpg);">
    </div>


    <div class="item" data-interval="300">
      <%= image_tag "carousel8.jpg" %>
    </div>



    <div class="item" data-interval="300">
      <%= image_tag "carousel9.jpg" %>
    </div>
    <div class="item" data-interval="300">
      <%= image_tag "carousel0.jpg" %>
    </div>
  </div>

</div>
