
<div class="header-results" style="text-align: center; margin: 0 30px 0 30px;"><h2>Veja aqui algumas empresas avaliadas</h2></div>

<ul class="kf-slider">
    <% @companies.each do |result| %>
      <li class="container-cards v-center">

          <h2 class="link-result" style="overflow: hidden;"><%= link_to result.name, company_path(result) %></h2>

        <div class="avatar-company">
            <% if (!result.logo_url.nil?) %>
              <img src="<%= result.logo_url %>" alt="">
            <% else %>
              <i class="far fa-building"></i>
            <% end %>
          </div>

          <p class="total-reviews"><%= result.reviews.count %> avaliações</p>

        <p class="rating-company">
          <% (result.final_rating / 20).times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% if (result.final_rating % 20) > 0 %>
            <i class="fas fa-star-half"></i>
          <% end %>
        </p>

      </li>
    <% end %>

  </ul>
