<h1>We Belong!</h1>
<div class="background-white"></div>
<h2><%= render "home-search" %></h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <div class="item active" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel8.jpg" %>
    </div>
    <div class="item" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel9.jpg" %>
    </div>
    <div class="item" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel0.jpg" %>
    </div>
  </div>

</div>

<p>Quer saber mais como as empresas estão lidando com o tema <strong>Diversidade e Inclusão?</strong></p>
