
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <div class="item active" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel1.jpg" %>
    </div>
    <div class="item" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel7.jpg" %>
    </div>
    <div class="item" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel0.jpg" %>
    </div>
  </div>
</div>


<h1>We Belong</h1>
<p class="slogan">Descubra empresas que <br> valorizam nossas diferenças</p>
<div class="background-white"></div>
<div class="background-yellow"></div>
<div class="background-red"></div>
<h2><%= render "home-search" %></h2>

<!-- <div class="hide-button">

  <p><a href="/#step"">Descubra</a></p>
  <a href="/#step""><i class="far fa-arrow-alt-circle-down""></i></a>

</div> -->
