<h1>We Belong</h1>
<div class="background-white"></div>
<h2><%= render "home-search" %></h2>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <div class="item active" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel1.jpg" %>
    </div>
    <div class="item" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel7.jpg" %>
    </div>
    <div class="item" data-interval="300" style="filter: brightness(50%);">
      <%= image_tag "carousel0.jpg" %>
    </div>
  </div>

</div>

<div class="hide-button">
  <p><a href="/">Quer saber mais como as empresas estão lidando com o tema <strong><em>Diversidade e Inclusão?</strong></em></a></p>
  <a href="/"><i class="far fa-arrow-alt-circle-down"></i></a>
</div>
