<div class="container" style="align-items: center;">
 <div id="custom-search-home">
    <div class="input-group col-xs-12">
      <input type="text" class="form-control input-lg" placeholder="Procure empresas ou temas de seu interesse">
      <span class="input-group-btn">
        <button class="btn btn-info btn-lg" type="button">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
    </div>
  </div>
</div>
