<div class="container">
  <div style="margin-bottom: 146px; text-align: center;">
  <h2> Descubra a Diversidade!</h2>
  <h5> Quer saber mais como as empresas estão lidando com o tema <strong>Diversidade e Inclusão?</strong></h5>
  </div>
  <div class="text-center padded features">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag "carousel1.jpg", class: "icon_home"%>
        <h4>O que os funcionários estão falando sobre suas empresas...</h4>
        <h6>Veja os <i>reviews</i> feitos por funcionárixs!</h6>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag "carousel9.jpg", class: "icon_home"%>
        <h4>Veja o que as pessoas estão falando sobre Diversidade e Inclusão...</h4>
        <h6>Busque pelos assuntos que mais lhe interessam!</h6>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= image_tag "carousel8.jpg", class: "icon_home"%>
        <h4>Avalie como sua empresa trata a Diversidade e Inclusão...</h4>
        <h6>Fale a todos o que sua empresa faz para incluir suas diversidades e o que ainda precisa melhorar! </h6>
    </div>
  </div>
</div>
