
<div class="steps">

  <div class="step-one">
    <i class="icon-home-one fas fa-binoculars"></i>
    <h4>Busque por assuntos ou empresas.</h4>
  </div>
  <!-- <h4 class='step-one'>Veja os <i>reviews</i> feitos por colaboradores e colaboradoras!</h4> -->

  <div class="step-two">
    <i class="icon-home-two fas fa-bullhorn"></i>
    <h4>Veja opiniões sobre <strong>inclusão e diversidade nas empresas.</strong></h4>
  </div>
  <!-- <h4 class='step-two'>Busque pelos assuntos que mais lhe interessam!</h4> -->
  <div class="step-three">
    <i class="icon-home-three fas fa-user-check"></i>
    <h4>Compartilhe a sua opinião e avalie uma empresa!</h4>
  </div>

</div>
<!-- <h4 class='step-three'>Fale a todos o que sua empresa já faz para incluir suas diversidades e o que ainda precisa melhorar! </h4> -->
