  <div>
    <%= image_tag "carousel1.jpg", class: "icon_home"%>
      <h2>O que os funcionários estão falando sobre suas empresas</h2>
      <p>Veja os <i>reviews</i> feitos por funcionárixs!</p>
  </div>
  <div>
    <%= image_tag "carousel9.jpg", class: "icon_home"%>
      <h2>Veja o que as pessoas estão falando sobre Diversidade e Inclusão</h2>
      <p>Busque pelos assuntos que mais lhe interessam!</p>
  </div>
  <div>
    <%= image_tag "carousel8.jpg", class: "icon_home"%>
      <h2>Avalie como sua empresa trata a Diversidade e Inclusão</h2>
      <p>Fale a todos o que sua empresa faz para incluir suas diversidades e o que ainda precisa melhorar! </p>
  </div>
