<div class="steps">

  <h4 class='step-one'>O que os funcionários estão falando sobre Diversidade e Inclusão em suas empresas?</h4>
  <i class="fas fa-bullhorn icon_home step-one"></i>
  <h4 class='step-one'>Veja os <i>reviews</i> feitos por colaboradores e colaboradoras!</h4>

  <h4 class='step-two'>O que as pessoas estão falando sobre Diversidade e Inclusão?</h4>
  <i class="fas fa-binoculars icon_home step-two"></i>
  <h4 class='step-two'>Busque pelos assuntos que mais lhe interessam!</h4>

  <h4 class='step-three'>O que você tem a dizer da sua empresa em relação à Diversidade e Inclusão?</h3>
  <i class="fas fa-user-check icon_home step-three"></i>
  <h4 class='step-three'>Fale a todos o que sua empresa já faz para incluir suas diversidades e o que ainda precisa melhorar! </h4>

</div>
