<div class="container" style="margin-bottom: 40px; text-align: center;">
  <h2><em>We Belong</em></h2>

    <h4>Acreditamos que a <strong>diversidade</strong> é uma das chaves para o sucesso de qualquer negócio.</h4>

    <h4>E, para nós, a <strong>diversidade</strong> só dá resultados quando todas as pessoas estão <strong>seguras</strong> e <strong>incluídas</strong> no ambiente de trabalho, nos processos organizacionais e na mesa de decisão.</h4>

    <h4><strong>Pertencer</strong> é criar laços, é compartilhar ideias, é aprender junto... <strong>Pertencer</strong> é poder ser o que somos e somar com nossas características pessoais, ampliando a visão do nosso grupo, empresa e sociedade.</h4>
</div>
<div class="container" style="text-align: center">
    <h2 style="font-style: italic;">    Nossos Valores</h2>
    <div style="height: 24px;"></div>
    <ul style="list-style-type: none;">
      <li> <a class="values" data-toggle="popover" data-trigger="hover" title="É a pluralidade de pessoas que há no mundo. Pessoas diferentes, com histórias, características e conhecimentos diferentes..." data-content="Diversidade"> <strong> Diversidade </strong> </a> </li>
      <div style="height: 8px;"></div>
      <li> <a class="values" data-toggle="popover" data-trigger="hover" title="É garantir que as pessoas de 'diversas diversidades', além de terem oportunidades - seja de promoção, de desenvolvimento ou mesmo de receber um feedback - também façam parte do processo deciório, ajudando a pensar em soluções diferentes para os problemas do dia-a-dia..." data-content="Inclusão"> <strong> Inclusão </strong> </a> </li>
      <div style="height: 8px;"></div>
      <li> <a class="values" data-toggle="popover" data-trigger="hover" title="É a base da convivência em grupo, especialmente daqueles grupos que possuem pessoas bastante diversas. Sem respeito, não há inclusão e, consequentemente, não há pertencimento." data-content="Respeito"> <strong> Respeito </strong> </a> </li>
      <div style="height: 8px;"></div>
      <li> <a class="values" data-toggle="popover" data-trigger="hover" title="É o outro lado da inclusão... as pessoas só estarão incluídas de verdade se se sentirem pertencendo ao ambiente. E as empresas só verão os resultados de ter um ambiente diverso caso o pertencimento seja uma realidade." data-content="Pertencimento"> <strong> Pertencimento </strong> </a> </li>
      <div style="height: 8px;"></div>
      <li> <a class="values" data-toggle="popover" data-trigger="hover" title="É dividir  experiências, conhecimentos e recursos. É uma das bases da nova economia e da inovação, e é mais comum em grupos onde os integrantes se sentem seguros e pertencentes." data-content="Compartilhamento"> <strong> Compartilhamento </strong> </a> </li>
      <div style="height: 8px;"></div>
      <li> <a class="values" data-toggle="popover" data-trigger="hover" title="É ser você mesmo, seja no trabalho, seja fora dele. Para que ideias diferentes surjam, as pessoas precisam ser autênticas em suas falas. E para que as pessoas sejam autênticas, elas precisam sentir que podem ser elas mesmas." data-content="Autenticidade"> <strong> Autenticidade </strong> </a> </li>
      <div style="height: 8px;"></div>
     <li> <a class="values" data-toggle="popover" data-trigger="hover" title="Onde há ideias diferentes, as pessoas passam a conhecer assuntos novos e descobrem novas possibilidades e habilidades. Todos ganham, todos se desenvolvem como funcionários e como pessoas." data-content="Desenvolvimento"> <strong> Desenvolvimento </strong> </a> </li>
    </ul>
  </div>
</div>
