<main role="main">

  <section class="articles">
    <%= render "about"%>
  </section>

  <div style="height: 56px;">
  </div>

  <section class="values" id="valueabout">
    <%= render "values" %>
  </section>

</main>
