
<div class="container" style="margin: 8px 80px 8px 80px; padding: 120px;">


<h3>Nossos Termos de Uso e Política de Privacidade</h3>



<p>O cadastramento no WeBelong pressupõe a aceitação dos Termos de Uso e Privacidade do Site.</p>

<p>Para realizar a avaliação de uma organização é essencial a aceitação dos termos de uso.</p>


<p>Para seu cadastro no WeBelong, solicitamos que o usuário (membro da comunidade) forneça um endereço de e-mail válido e configure uma senha de acesso, armazenando essas informações fornecidas ativamente pelo usuário, quando de seu cadastro e utilização dos serviços.
Se você acessar o WeBelong com a sua conta do Facebook, LinkedIn ou outra plataforma de mídia social, armazenaremos seu email apenas.</p>

<p>A coleta de dados no WeBelong é realizada com os objetivos de:</p>
<ul>
<li>Autenticar o acesso de seus usuários;</li>
<li>Buscar a segurança dos serviços oferecidos e meios de identificação no caso de uso inadequado ou ilícito;</li>
<li>Fornecer informações relacionadas ao site e manter os usuários informados sobre os seus serviços, mudanças de Termos de Uso ou de Política de Privacidade, atualizações, melhorias e sobre o status de suas contas e operações no site;</li>
<li>Prestar serviços aos Usuários;</li>
<li>Apurar informações estatísticas.</li>


 <p>Você concede seu conhecimento livre, expresso e informado para que a WeBelong utilize seus dados nos termos descritos no presente Acordo.</p>

<p>Quanto às Informações contidas nesse site: </p>

<p>- As informações contidas nesse site refletem a opinião individual do usuário que realizou a avaliação e não a visão da WeBelong ou dos membros da WeBelong;</p>
  <ul>
<li>A WeBelong se reserva ao direito de retirar quaisquer conteúdos que firam os Termos de Uso ou os <a href="/about/#valueabout">Valores</a> da comunidade.</li>
<li>Os usuários da WeBelong podem avaliar os comentários deixados no site e, conforme a utilidade dos mesmos, a WeBelong faz a ordenação dos <em>reviews </em>/ comentários.</li>
<li>Os dados das empresas ( página web, logo e outros) são alimentados a partir de informações públicas. Os usuários não poderão avaliar empresa que não estejam na lista carregada. Para pedir cadastramento de quaisquer outras empresas além das contidas no site, favor enviar um email para <a href="mailto:contato@webelong.com.br">contato@webelong.com.br</a>.</li>
</ul>

<p>Quanto ao Funcionamento do WeBelong:</p>
<ul>
<li>Esta versão da WeBelong faz parte do trabalho final de curso da LeWagon. Todo esforço será feito para manter o site funcionando de maneira constante. Contudo, a WeBelong não se responsabiliza por possíveis quebras do serviço ou problemas técnicos além do nosso controle.</li>
<li>Esta Política de Privacidade pode ser alterada periodicamente. No entanto, não reduzirá os seus direitos sem o seu consentimento explícito. Publicaremos todas as alterações da Política de Privacidade nesta página e, se as alterações forem significativas, colocaremos um aviso com mais destaque, incluindo, para alguns serviços, notificação por e-mail das alterações da Política de Privacidade, e novo consentimento será necessário para que você continue tendo acesso aos nossos Serviços.</li>
</ul>

</div>
