<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <section class="steps-wrapper">
    <div class="steps-title"><h1>Como funciona</h1></div>
    <%= render "steps" %>
  </section>

  <section class="values hidden-xs">
    <%= render "values" %>
  </section>

</main>
