<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <%= form_tag root_path, method: :get do%>
  <%= text_field_tag :query,
    params[:query], id: "searchbar", placeholder: "Find a company"%>
  <%= submit_tag "Search" %>
  <% end %>



