<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <section class="steps-wrapper">
    <div class="steps-title"><h2>Como funciona</h2></div>
    <%= render "steps" %>
  </section>

<div class="sect-banner">
  <section class="container-results" style="box-shadow: none;">

    <%= render "cards" %>

  </section>
</div>

</main>
<div class="alert"></div>

