<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <section class="steps-wrapper">
    <div class="steps-title"><h2>Como funciona</h2></div>
    <%= render "steps" %>
  </section>

  <section class="container-results" style="margin-top: 1%; box-shadow: none; max-width: 1000px; justify-content: center;">

    <%= render "cards" %>

  </section>

</main>
<div class="alert"></div>

