<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <section>
    <%= render "steps" %>
  </section>


  <section class="values">
    <%= render "values" %>
  </section>

</main>
