<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <section class="steps-wrapper">
    <div class="steps-title"><h2>Como funciona</h2></div>
    <%= render "steps" %>
  </section>

  <section class="homecard hidden-xs">
    <div class="homecards-title"><h2>Veja aqui algumas empresas avaliadas</h2></div>

    <%= render "cards" %>

  </section>

</main>
