<main role="main">

<section class="hero home-banner">
    <%= render "carousel" %>
</section>


  <section class="talking-points">
    <%= render "steps" %>
  </section>

<div class="articles">
     <%= render "about"%>
</div>



  <div class="container" id="values">
    <%= render "values" %>
  </div>

</main>
