<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <section class="steps" id="step">
    <%= render "steps" %>
  </section>

  <section class="articles">
    <%= render "about"%>
  </section>

  <section class="values">
    <%= render "values" %>
  </section>

</main>
