<main role="main">

  <section class="hero home-banner">
    <%= render "hero" %>
  </section>

  <div id="step"></div>

  <br> <br> <br>
  <section>
    <%= render "steps" %>
  </section>


  <section class="values">
    <%= render "values" %>
  </section>

</main>
