<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
<h2>A <em>We Belong</em></h2>

<h4>Acreditamos que a <strong>diversidade</strong> é uma das chaves para o sucesso de qualquer negócio.</h4>

<h4>E, para nós, a <strong>diversidade</strong> só dá resultados quando todas as pessoas estão <strong>seguras</strong> e <strong>incluídas</strong> no ambiente de trabalho, nos processos organizacionais e na mesa de decisão.</h4>

<h4><strong>Pertencer</strong> é criar laços, é compartilhar ideias, é aprender junto... <strong>Pertencer</strong> é poder ser o que somos e somar com nossas características pessoais, ampliando a visão do nosso grupo, empresa ou sociedade.</h4>

<h3>Nossos Valores</h3>
<ul>
  <li> Pertencimento </li>
  <li> Inclusão </li>
  <li> Diversidade </li>
  <li> Inovação </li>
  <li> Respeito </li>
  <li> Compartilhamento </li>
  <li> Desenvolvimento </li>
  <li> Autenticidade </li>
</ul>
</div>
