<div class="wrapper">

  <div class="container home-banner" style="margin: 0; padding: 0; width: 100%;">
    <%= render "carousel" %>
  </div>


    <div class="container" style="height: 100vh;">
      <%= render "steps" %>
    </div>


  <div class="container" id="values" style="height: 100vh";>
  <%= render "values" %>
  </div>

</div>
