<div class="wrapper">

  <div class="container" style="margin: 0; padding: 0; width: 100%;">
    <%= render "carousel" %>
  </div>

  <div class="container">
    <%= render "steps" %>
  </div>

  <div class="container">
  <%= render "values" %>
  </div>

</div>
