<section class="container-results">

  <div class="header-results">
    <h1> Resultados para <strong><%= params[:query] %></strong> em Avaliações:</h1>
    <p>Total Results: X</p>
  </div>

  <ul>
    <% @results.each do |result| %>
      <li class="container-cards">

        <i class="avatar-result-user fa fa-user"></i>

        <h2 class="message-title"><mark>Titulo Review</mark></h2>

        <div class="message-body">

        <p class="user-review"><%= result.pg_search_highlight.html_safe %></p>

        <p class="created-at"> | escrito em: <%= result.created_at.to_date.strftime("%d-%m-%Y") %></p>

        </div>

        <h3 class="view-more"><%= link_to result.company.name, company_path(result.company_id) %></h3>

        <p class="rating-user"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i></p>

      </li>

    <% end %>
  </ul>

</section>
