/*----------------------------------------------
-DEMO1: Unordered list
-----------------------------------------------  */
ul.kf-slider li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fade-out 9s infinite both;
  -moz-animation: fade-out 9s infinite both;
  animation: fade-out 9s infinite both;
  background-image: url(../images/banner-1-sm.jpg); }
  @media (min-width: 58em) {
    ul.kf-slider li {
      background-image: url(../images/banner-1.jpg); } }
ul.kf-slider li:nth-child(2) {
  background-image: url(../images/banner-2-sm.jpg);
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }
  @media (min-width: 58em) {
    ul.kf-slider li:nth-child(2) {
      background-image: url(../images/banner-2.jpg); } }
ul.kf-slider li:nth-child(3) {
  background-image: url(../images/banner-3-sm.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s; }
  @media (min-width: 58em) {
    ul.kf-slider li:nth-child(3) {
      background-image: url(../images/banner-3.jpg); } }

/*----------------------------------------------
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
/*----------------------------------------------
--Keyframes Slider - Sm
-----------------------------------------------  */
@-webkit-keyframes slider-sm {
  0% {
    background-image: url(../images/banner-1-sm.jpg); }
  33% {
    background-image: url(../images/banner-2-sm.jpg); }
  66% {
    background-image: url(../images/banner-3-sm.jpg); }
  100% {
    background-image: url(../images/banner-1-sm.jpg); } }
@-moz-keyframes slider-sm {
  0% {
    background-image: url(../images/banner-1-sm.jpg); }
  33% {
    background-image: url(../images/banner-2-sm.jpg); }
  66% {
    background-image: url(../images/banner-3-sm.jpg); }
  100% {
    background-image: url(../images/banner-1-sm.jpg); } }
@keyframes slider-sm {
  0% {
    background-image: url(../images/banner-1-sm.jpg); }
  33% {
    background-image: url(../images/banner-2-sm.jpg); }
  66% {
    background-image: url(../images/banner-3-sm.jpg); }
  100% {
    background-image: url(../images/banner-1-sm.jpg); } }
/*----------------------------------------------
--Keyframes Slider - Lg
-----------------------------------------------  */
@-webkit-keyframes slider-lg {
  0% {
    background-image: url(../images/banner-1.jpg); }
  33% {
    background-image: url(../images/banner-2.jpg); }
  66% {
    background-image: url(../images/banner-3.jpg); }
  100% {
    background-image: url(../images/banner-1.jpg); } }
@-moz-keyframes slider-lg {
  0% {
    background-image: url(../images/banner-1.jpg); }
  33% {
    background-image: url(../images/banner-2.jpg); }
  66% {
    background-image: url(../images/banner-3.jpg); }
  100% {
    background-image: url(../images/banner-1.jpg); } }
@keyframes slider-lg {
  0% {
    background-image: url(../images/banner-1.jpg); }
  33% {
    background-image: url(../images/banner-2.jpg); }
  66% {
    background-image: url(../images/banner-3.jpg); }
  100% {
    background-image: url(../images/banner-1.jpg); } }


    /* loading */
    .lt-sk-three-bounce {
      margin: 2px auto;
      width: 100%;
      text-align: center; }
      .lt-sk-three-bounce .lt-sk-child {
        width: 5px;
        height: 5px;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: lt-sk-three-bounce 1.4s ease-in-out 0s infinite both;
                animation: lt-sk-three-bounce 1.4s ease-in-out 0s infinite both; }
      .lt-sk-three-bounce .lt-sk-bounce1 {
        -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s; }
      .lt-sk-three-bounce .lt-sk-bounce2 {
        -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s; }

    @-webkit-keyframes lt-sk-three-bounce {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0); }
      40% {
        -webkit-transform: scale(1);
                transform: scale(1); } }

    @keyframes lt-sk-three-bounce {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0); }
      40% {
        -webkit-transform: scale(1);
                transform: scale(1); } }

