/*----------------------------------------------
-DEMO1: Unordered list
-----------------------------------------------  */
ul.kf-slider li {
  z-index: 0;
  opacity: 0;
  -webkit-animation: fade-out 9s infinite both;
  -moz-animation: fade-out 9s infinite both;
  animation: fade-out 9s infinite both;
}
ul.kf-slider li:nth-child(2) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s; }

ul.kf-slider li:nth-child(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s; }

/*----------------------------------------------
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@-moz-keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
@keyframes fade-out {
  33% {
    opacity: 1; }
  66% {
    opacity: 0; } }
