.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 16px 0 16px 0;
  border-radius: 5px;
  width: 100%;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  height: 500px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card a {
  position: absolute;
  /* top: 0; */
  bottom: 10px;
  right: 0px;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0.7;
  font-size: x-large;
  padding: 10px;
}

.card a:hover {
  opacity: 1;
  text-decoration: none;
}
