dl {
  display: flex;
  background-color: #F8F8FF;
  flex-direction: column;
  /* max-width: 100%; */
  position: relative;
  width: 100%;
}

dt {
align-self: flex-start;
font-weight: 700;
display: block;
text-align: center;
font-size: 1.2em;
font-weight: 700;
margin-bottom: 20px;
}

.text-graph {
  font-weight: bolder;
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  background-color: #F8F8FF;
  position: absolute;
  padding: 1px;
  left: 0;
  font-size: 1.2rem;
  justify-content: flex-start;
  text-transform: capitalize;
}

.percentage {
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  height: 40px;
  margin-left: 130px;
  padding: 7px;
  background: repeating-linear-gradient(
  to right,
  #202020 ,
  #202020 1px,
  #F8F8FF 1px,
  #F8F8FF 5%
);

  &:after {
    content: "";
    display: block;
    background-color: $professionalpurple;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: $friendlyorange;
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}
