*:focus {
outline: none;
}

/* CONTAINER NAVBAR */
.navbar-wb {

  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wb-home {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  transition: 0.4s background-color ease;
    }

.navbar-wb-pages {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
}

// LOGO
.navbar-wb-brand {
 font-size: 5.5rem;
 color: #62B2F5;
}

.navbar-wb-brand:hover {
  color: #62B2F5;
  text-decoration: none;
}

// END LOGO

/* User Avatar */
.navbar-wb .avatar {
  font-size: 4rem;
  color: #62B2F5;
}

/* Right section */
.navbar-wb-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wb-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wb-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wb-link:hover {
  color: #da552f;
  text-decoration: none;
}

// START SEARCH NAVBAR


#custom-search-input {
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 50%;
    position: relative;
    padding: 3px;
}

#custom-search-input #query {
    border: 0;
    box-shadow: none;
    background: transparent;
    width: 95%;
    padding: 5px;
    margin-left: 25px;
}

#custom-search-input #button-search {

    border: 0;
    box-shadow: none;
    background: transparent;
}


#custom-search-input button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    display: flex;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    font-size: x-large;
}

#custom-search-input .glyphicon-search{
    padding: 4px;
}

#form-control-text {
  display: flex;
  width: 100%;
  align-items: center;
}

.input-group-btn .btn {
  padding: 0;

}

// END SEARCH NAVBAR

/* Dropdown menu */
.navbar-wb-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wb-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wb-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wb-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-menu {
  min-width: 280px;
  padding: 8px;

}

// START SEARCH DROPDOWN

#custom-search-input-dropdown{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 3px;

}

#custom-search-input-dropdown #query {
    border: 0;
    box-shadow: none;
    background: transparent;
    font-size: 16px;
    width: 100%;
    margin-left: 5px;

}

#custom-search-input-dropdown #button-search {
    border: 0;
    box-shadow: none;
    background: transparent;
}

#custom-search-input-dropdown button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    border-left: solid 1px #ccc;
}

#custom-search-input-dropdown button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input-dropdown .glyphicon-search{
    margin: 1px;
    padding: 3px;
}

#form-control-text-dropdown {
  display: flex;
}

// END SEARCH DROPDOWN
