*:focus {
outline: none;
}

/* CONTAINER NAVBAR */
.navbar-wb {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wb-home {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  transition: 0.4s background-color ease;
    }

.navbar-wb-pages {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
}

// LOGO
.navbar-wb-brand {
 font-size: 5.5rem;
 color: $professionalpurple;
   opacity: 0.75;
}

.navbar-wb-brand:hover {
  color: $professionalpurple;
  text-decoration: none;
    opacity: 1;
}

// END LOGO

/* User Avatar */
.navbar-wb .avatar {
  font-size: 4rem;
  color: $professionalpurple;
    opacity: 0.75;
}

/* Right section */
.navbar-wb-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wb-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wb-link {
  color: $professionalpurple;
  font-size: 14px;
  opacity: 0.35;
}
.navbar-wb-link:hover {
  color: $professionalpurple;
  text-decoration: none;
  opacity: 1;
}

/* Dropdown menu */
.navbar-wb-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wb-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wb-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wb-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-menu {
  min-width: 280px;
  padding: 8px;

}

