.steps-wrapper .steps-title {
  margin: 0 auto;
  text-align: center;
  padding: 2% 0 0 0;
  width: 80%;
}

.steps {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 80%;
  padding: 2%;
  margin: 0 auto;
  grid-gap: 1rem;
  border-bottom: 1px dotted lightgrey;

  h4 {
    margin: 0;
  }
}

.step-one {
  font-size: 2rem;
  padding: 10px;
}

.icon-home-one {
  font-size: 8rem;
  margin-bottom: 24px;
  color: $professionalpurple;
}

.step-two {
  font-size: 2rem;
  padding: 10px;
}

.icon-home-two {
  font-size: 8rem;
  margin-bottom: 24px;
  color: $friendlyorange;
}

.step-three {
  padding: 10px;
  font-size: 2rem;
}

.icon-home-three {
  font-size: 8rem;
  margin-bottom: 24px;
  color: $warmred;
}
