.steps {
  /* autoprefixer: off */
  background: $professionalpurple;
  color: $friendlyorange;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 100vw;
  padding: 80px;
  margin: 32px;
  font-size: 120px;
  grid-gap: 56px;

    .step-one  h3  {
      font-size: 32px !important;

      grid-column: 1 / 1;
      grid-row: 1 / 1;
      }

    .step-one .icon_home {
        font-size: 120px;
        grid-column: 2 / 1;
        grid-row: 1 / 1;
      }

    .step-one h5 {
        font-size: 24px !important;

        width: 100%;

        grid-column: 3 / 1;
        grid-row:   1 / 1;
      }

    .step-two h3 {

        font-size: 32px !important;

        grid-column: 1 / 1;
        grid-row: 2 / 1;
      }

    .step-two .icon_home {
        font-size: 120px;
        grid-column: 2 / 1;
        grid-row: 2 / 1;
      }

    .step-two h5 {
      font-size: 24px !important;

      width: 100%;

      grid-column: 3 / 1;
      grid-row: 2 / 1;
      }

      .step-three h3 {
      font-size: 32px !important;

      grid-column: 1 / 1;
      grid-row: 3 / 1;
      }

      .step-three .icon_home {
      font-size: 120px;
      grid-column: 2 / 1;
      grid-row: 3 /1;
      }

      .step-three h5 {
      font-size: 24px;

      width: 100%;

      grid-column: 3 / 1;
      grid-row: 3 / 1;
      }
 }


