<p>Ola <%= @resource.email %>!</p>

<p>Para trocar seu link, favor acessar o link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu para trocar a senha, favor ignorar esse email.</p>

